.row-color {
    color: #557c79;
}

.bucket-color {
    color: #ff6347;
    font-size: 1.5rem; 
}

.cold-color {
    color: #b1d1fc;
    font-size: 1.5rem; 
}

.hot-color {
    color: #bd1816;
    font-size: 1.5rem;
}

.fish-color {
    color: #fc6000;
    font-size: 1.5rem;
}

.water-color {
    color: #0000d8;
    font-size: 1.5rem;
}

/* Table Headings */
.table_heading {
    font-weight: 600;
    font-size: 18px;
}