
/* Full Background */
body {
    background-color: #f2f2f2;
}

.bg-nav {
    background-color: #ffffe9;
}

/* Table Card */
.bg-white {
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding-top: 37px;
    padding-bottom: 37px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* icon Colours */
.row-color {
    color: #557c79;
}

.bucket-color {
    color: #ff6347;
    font-size: 1.5rem; 
}

.cold-color {
    color: #b1d1fc;
    font-size: 1.5rem; 
}

.hot-color {
    color: #bd1816;
    font-size: 1.5rem;
}

.fish-color {
    color: #fc6000;
    font-size: 1.5rem;
}

.water-color {
    color: #0000d8;
    font-size: 1.5rem;
}

.water-color-2 {
    color: #44eebb;
    font-size: 1.5rem;
}

/* Table Headings */
.table_heading {
    font-weight: 600;
    font-size: 18px;
}

/* Table Inputs */
input[type=number] {
   width: 40%;
} 

/* Table Responsive */
.table-responsive {
    overflow-x :auto !important;
}

/* Remove number spinners Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number spinners Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Button sizes */
.btn_width {
    width: 185px;
}